.form-control:focus {
    box-shadow: none;
    border-color: #6459e0;
}

.addForm-container {
    background-color: #ccd9fb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}
