.column {
  width: 50%;
}

.long-text {
  overflow-wrap: break-word;
}

.bookDetailImage {
  max-width: 100%;
  height: auto;
}

.contact-box {
  margin: 30px;
  width: 100%;
  max-width: 400px;
  padding: 40px;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border: 1px solid #b6bee7;
}

.book-box {
  margin: 30px;
  width: 100%;
  max-width: 900px;
  padding: 40px;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border: 1px solid #b6bee7;
}

h2 {
  margin-top: 0;
  margin-bottom: 30px;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

input,
select {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 100%;
  font-size: 16px;
}

button {
  padding: 12px;
  border: none;
  border-radius: 6px;
  background-color: #5D6DC0;
  color: white;
  cursor: pointer;
  font-size: 18px;
}

button:hover {
  background-color: #4451a0;
}

.comment-options {
  position: absolute;
  margin-top: -10px;
  right: 35%;
  transform: translateX(100%);
}

.commentMessage {
  width: 100%;
  max-width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.media-body {
  overflow-wrap: break-word;
  max-width: 100%;
}


