
  .title {
    margin: 0;
  }
  
  .links {
    display: flex;
  }
  
  .links a {
    margin-left: 20px;
    text-decoration: none;
    color: white; 
  }
  
  .links a:first-child {
    margin-left: 0;
  }
  .links a {
    margin-left: 50px; 
    text-decoration: none;
    color: white; 
    font-size: 20px;
  }
  
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  }
  
  .login-box {
    width: 100%;
    max-width: 500px; 
    padding: 40px; 
    border-radius: 10px; 
    background-color: #f9f9f9;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
  }
  
  h2 {
    margin-top: 0;
    margin-bottom: 30px; 
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
  }
  
  input,
  select {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 100%;
    font-size: 16px; 
  }
  
  button {
    padding: 12px;
    border: none;
    border-radius: 6px;
    background-color: #5D6DC0;
    color: white;
    cursor: pointer;
    font-size: 18px;
  }
  
  button:hover {
    background-color: #4451a0;
  }
  
  
  .error-message {
    color: red;
    margin-bottom: 10px;
  }
  
  